<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="OFF" />
      <!--
        http://www.codeproject.com/Articles/140911/log4net-Tutorial
        http://dotnetdawgs.com/post/List-of-Log4Net-Conversion-patters.aspx
        https://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html
        OFF - nothing gets logged
        FATAL
        ERROR
        WARN
        INFO
        DEBUG
        ALL - everything gets logged
      -->
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" value="Logs\\" />
      <!--<param name="File" value="Logs\\log-" />-->
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="UTF-8" />
      <param name="RollingStyle" value="Composite" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%date][%level]:%message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
  </log4net>

  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>